.well {
    border: 5px solid black;
    padding: 25px;
    width: 200px;
    height: 200px;
    font-size: 30px;
}
.first {
   background-color: blue;
}
.second {
    background-color: red;
}
.third {
    text-align: center;
}